.carousel.carousel-slider {
    height: 600px !important;
}

.carousel.carousel-slider img {
    height: 600px !important;
    object-fit: cover;
    opacity: 0.34;

}

p.legend {
    color: #D55550 !important;
    font-weight: 700 !important;
    background-color: rgba(255, 255, 255, 0) !important;
    bottom: 100px !important;

    opacity: 1 !important;
}

.thumbs-wrapper.axis-vertical {
    display: none;
}

.full-width {
    background-color: #F2F2F2;
}

span.MuiSlider-root.MuiSlider-colorSecondary.MuiSlider-sizeMedium.css-1diafny-MuiSlider-root {
    color: #F5C342;
}

.slide_bg {

    background-size: cover;
    position: relative;
    height: 600px;

}

@media only screen and (max-width: 600px) {
    .hignl-title {
        font-size: 18px;
    }

    .slide_bg {
        height: 400px;
    }

    .name_text {
        margin-bottom: 25px;
    }

    .title-article {
        font-size: 16px !important;
    }

    .carousel.carousel-slider {
        height: 400px !important;
    }

    .carousel.carousel-slider img {
        height: 400px !important;
        object-fit: cover;
        opacity: 0.34;

    }
}

.slide_bg:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}