body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row.block {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row.block {
  padding-right: 15px;
  padding-left: 15px;
  /* margin-right: auto;
  margin-left: auto; */
}

.hignl-title {
height: 43px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  width: fit-content;
  border-bottom: 12px solid #F5C342;
}

.hignl-title.second {
  font-size: 30px ;
  height: 32px ;
  margin-bottom: 20px;
}

.fit-content img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #B32B21;

}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.005em;
  text-align: left;
  color: #000000;
  opacity: 0.6;
  white-space: pre-line;
  letter-spacing: 1.3;
}

.title-article {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.fit-cover img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.fit-cover {
  height: 40%;
}

.row {
  height: fit-content;
}

.MuiDivider-root {
  padding-top: 10px;
  border-bottom-width: 2px !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
}

.item-img {
  aspect-ratio: 1 / 1;
  width: 100%;
  /* width: 100%; */
  /* height: fit-content; */
  height: same-as-width;
  object-fit: cover;
  border-radius: 10px;
}

.item-img.big {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 10px;

}

.sub-1 {
  font-weight: 600;
  font-size: 16px;
}

.center {
  text-align: center;
}

.col-sm-12.col-md-6.col-lg-3 {
  margin: 10px 0px 10px 0px;
}

.col-sm-12 {
  cursor: pointer;
}

.title-article {
  color: #000000;
}

.css-1qtu9q6-MuiButtonBase-root-MuiButton-root {
  background-color: #F5C342 !important;
}

.container-fuild {
  display: flex;
  justify-content: center;
}


.description {

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  /* -webkit-box-orient: vertical; */
}

.title-category {
  height: 19px;

  /* Sub 1 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.0015em;

  /* B 87 */

  color: rgba(0, 0, 0, 0.87);


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.description-time {
  height: 14px;

  /* Caption */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.004em;

  /* b 60 */

  color: rgba(0, 0, 0, 0.6);


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

button.MuiButton-contained.MuiButton-containedWarning.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-fullWidth {
  background-color: #F5C342 !important;

}

.containedPrimary {
  background: #3C5A99 !important;
}

.full-width2 {
  background-color: #F2F2F2;
  padding-bottom: 40px;

}

.full-width1 {
  background-color: #F2F2F2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.block-top {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  background-color: #F2F2F2;
  min-height: 800px;
}
.legend{
  letter-spacing: 2px;
  font-size: 40px !important;
}
.btn-warning{
  background-color: #F5C342 !important;
}
.MuiSlider-colorSecondary{
  color: #F5C342 !important;
}
.hignl-title{
  text-transform: uppercase;
}
.description-primary{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.005em;
        text-align: left;
        color: #000000;
        opacity: 0.6;
      overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;
        /* fallback */
        max-height: 72px;
        /* fallback */
        -webkit-line-clamp: 4;
        /* number of lines to show */
        -webkit-box-orient: vertical;
      
}
@media only screen and (max-width: 600px) {
  .hignl-title {
    font-size: 24px !important;
    font-weight: 800;
  }
}